* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}


body {
    min-height: 100vh;
    font: lighter;
    color: #fff;
    background-color: black;
    display: flex;
    flex-direction: column; /* Added to make the content flow in a column */
    align-items: center; /* Center horizontally */
}

.fade {
    width: 100vh;
    max-width: 640px;
    margin: auto;
    background-image: linear-gradient(
        transparent 12%,
        currentColor 30%,
        currentColor 70%,
        transparent 86%
    );
    background-clip: text;
    -webkit-background-clip: text;
    background-attachment: fixed;
}

.fade p {
    margin: 20px 0;
    font-size: 20px;
    color: transparent;
}

h2 {
    text-align: center; /* Center the text within the <h2> element */
    position: fixed; /* Set to a fixed position */
    top: 35px; /* Place at the top of the viewport */
}

.container{
    background-color:black;
    background-repeat: repeat;
    text-align: center;
    color: #fff;
    font-size: 20px;
}

.container .heading{
    font-size: 3rem;
    padding: 2rem 0;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0.5rem 1rem #000;
    color: #fff;
}

.music-container{
    display: flex;
    align-items: center;
    flex-flow: column;
}

.container .music-container .box{
    height: 16rem;
    width: 80%;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0.5rem 1rem #000;
    overflow: hidden;
    margin: 2rem;
}

.container .music-container .box .image{
    height: 100%;
    width: 25%;
}

.container .music-container .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.container .music-container .box .music{
    width: 75%;
}

.container .music-container .box .music audio{
    width: 100%;
    outline: none;
}

.container .music-container .box .music audio::-webit-media-controls-enclosure{
    background: none;
}

@media(max-width:600px){
    .container .music-container .box{
        height: 27rem;
        width: 90%;
        flex-flow: column;
    }
    .container .music-container .box .image{
        height: 80%;
        width: 100%;
    }
    .container .music-container .box .music{
        height: 20%;
        width: 100%;
    }
}

